
.input {
    margin-top: 10px;
    width: 100%;
}

.input input {
    width: 100%;
}

.input label, span {
    display: block;
}

.form {
    max-width: 300px;
}

table {
    width: 100%;
    max-width: 700px;
    border: 1px solid #c1c1c1;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
    background-color: #0084ff;
    color: white;
}

th, td {
    border: 1px solid #c1c1c1;
    border-collapse: collapse;
    padding: 3px;
}

tbody > :nth-child(odd) {
    background-color: #d0d0d0;
}

.table-actions {
    display: flex;
    align-items: center;

}

button {
    background: #0084ff;
    border: 1px solid #0061bc;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px 6px 3px 6px;
    width: 70px;
}

button:hover {
    cursor: pointer;
}

.save {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
}

.save > button {
    margin-left: auto;
    margin-right: auto;
}
